
    <div class="jumbotron">
        <h2 class="label label-warning" style="font-size:20px;">Calendar using FullCalendar JavaScript Library</h2>
        <br /><br />
        <p class="lead">Powerful and Lightweight JavaScript Calendar built using <a href="https://fullcalendar.io/" target="_blank">FullCalendar</a> Javascript Library</p>
        <hr />
        <h3>Technology used</h3>
        <ul>
            <li>FullCalendar (v4) JavaScript Library</li>
            <li>ASP.NET MVC</li>
            <li>C#.NET</li>
            <li>Entity Framework</li>
        </ul>
        <i>(FullCalendar version 4 is used)</i>

        <br />
        <br />
        <a href="/Calendar" class="btn btn-info">GoTo Calendar</a>

        <hr />

        FullCalendar Javascript Library: <a href="https://fullcalendar.io/" target="_blank">https://fullcalendar.io</a>

        <hr />

        <h4>You will require SQL Server Database on your local machine.</h4>
        <h5>Create a Database. Execute the SQL Script (Tables_StoredProcedure_Script.sql)</h5>
        <h5>Replace your connectionString in the web.config file of the project.</h5>
        <h6>connectionString="Data Source=[YouServerName];Initial Catalog=[YourDataBaseName];User ID=[DatabaseUserName];pwd=[DataBasePassword]"</h6>

    </div>

